
html {
  background: #80bfff
;
}
#logo {
            height: 45;
    width: 120;
    /* border: 30px; */
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    forced-color-adjust: auto;
    position: initial;
    display: block;
    padding-top: 20px;
}
h5{
  font-size:13px;
   background: red;
  background-position:center;
  text-align:right;
}
h1{
  font-size: 25px;
    text-align: center;
    font-family: Verdana;
}
.look{
  font-size:13px;
  font-family: Arial;
  text-align :center;
  font-style:oblique 40deg;
}
#main{
  width: 700px;
    background: #ACD4FF;
    border: 40px;
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 20px;
 border: 2px solid #52b4ff;



}
#input{
  width:200px;
  height:30px;
  
}
#fake{
          font-size: 13px;
    background: red;
    background-position: center;
    text-align: right;
    /* margin: 20px; */
    width: 45px;
    left: 20;
    margin-top: -28;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 70px;
}

.container-1{
  width: 450px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#search{
  width:450px;
  height:30px;
  border-radius:30px;
  background-color :#ffffff;
  border: 0px none #ffffff;

}
#search-btn{
    border-radius: 5px;
    width: 90px;
    height: 30px;
    background-color: #70a1ff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  border: 0px none #ffffff;
   
  position: sticky;
}
